<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<form action="/auth" method="post">
	  <input type="email" name="email" placeholder="E-mail"><br>
	  <input type="password" name="password" value="password"><br>
	  <input type="submit" value="Submit">
	</form>
</body>
</html>