<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div id="text">
      <h1>Você precisa estar logado para acessar</h1>
      <span><a href="/login">Voltar para a pagina de login</a></span>
    </div>
  </body>
</html>
