<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="/style.css" />
</head>
<body>
	<div class="container">
	<p class="text-login">Login</p>
	<form class="form-login" action="/auth" method="post">
	  <input type="email" name="email" placeholder="E-mail" required>
	  <input type="password" name="password" placeholder="Senha" required>
	  <button class="button-login" type="submit">Enviar</button>
	</form>
	<p class="account"><a href="/register">Não tenho conta</a></p>
	</div>
</body>
</html>