@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: #035aa6;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 20%;
}

.text-login {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.form-login {
  display: grid;
  margin: 0px auto;
  max-width: 400px;
  padding: 20px; 
}

.form-login input {
  border: none;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
}

.button-login {
  cursor: pointer;
  margin-top: 10px;
  border: none;
  border-radius: 05px;
  background-color: #40bad5;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  padding: 05px 10px 05px 10px;
  transition: 0.6s;
}

.button-login:hover {
  opacity: 0.9;
}

.account {
  text-align: center;
}

.account a {
  text-decoration: none;
  color: #fff;
}