@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: #035aa6;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

#text {
  display: grid;
  position: absolute;
  top: 50%;
  left: 50%;
  display: grid;
  text-align: center;
  font-weight: bold;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#text h1 {
  color: #fff;
}

#text span {
  padding: 10px;
  font-size: 20px;
}

#text a {
  color: #ddd;
  text-decoration: none;
}

#text a:hover {
  opacity: 0.8;
}

.container {
  margin-top: 20%;
}

.text-login {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.form-login {
  display: grid;
  margin: 0px auto;
  max-width: 400px;
  padding: 20px;
}

.form-login input {
  border: none;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
}

.button-login {
  cursor: pointer;
  margin-top: 10px;
  border: none;
  border-radius: 05px;
  background-color: #40bad5;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  padding: 05px 10px 05px 10px;
  transition: 0.6s;
}

.button-login:hover {
  opacity: 0.9;
}

.account {
  text-align: center;
}

.account a {
  text-decoration: none;
  color: #fff;
}


/* Toggle Styles */

#viewport {
  padding-left: 231px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 230px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav{
  display: grid;
}

#sidebar .nav li {
  padding: 10px 0px 10px 0px;
}

#sidebar .nav a{
  background: none;
  color: #CFD8DC;
  font-size: 15px;
  padding: 20px 0px 20px 0px;
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

#sidebar .nav a i{
  margin-right: 16px;
}
